html {
  padding: 0;
  margin: 0;
  font-size: 14px;
  height: 100%;
}

.o-app {
  font-family: 'Source Serif Pro', serif;
  padding: 0;
  margin: 0;
}

.o-app--loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.o-container {
  width: auto;
  max-width: 1280px;
  margin: 0 auto;
}
